# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.db-journal
*.sqlite3

# Log and cache files
*.log
*.cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#PyCharm
.idea
.idea/

#Configs
config/telegram.py
config/google_secret.json
config/imgur.py
