# Database
DB_NAME=db
DB_USER=db_user
DB_PASS=db_password
DB_SERVICE=172.18.0.2
DB_PORT=5432

# Telegram bot token
TG_TOKEN=tg_token
# Telegram proxy
PROXY_SCHEMA=https
PROXY_CONN=socks5h://user:password@host:port

# Imgur
IMGUR_KEY=api_key
IMGUR_SECRET=api_secret

# Google:
ROOT_FOLDER=google_root_folder_id

# Data Path:
DATA_PATH=~/data/
